
name: release_bundle_created

on:
  # workflow_dispatch is mandatory, so that Artifactory can trigger
  # the workflow through GitHub REST API.
  workflow_dispatch: 
    # inputs are optional, they may be used to convey contextual data
    # from the JFrog event to the workflow.
    inputs:
      name: 
        required: true 
        type: string
      release_bundle: 
        required: true 
        type: string
      bundle_version:
        required: true 
        type: string
      environment:
        required: true 
        type: string
      sourceurl:
        required: true 
        type: string
      targeturl:
        required: true 
        type: string

permissions:
  actions: read # for detecting the Github Actions environment.
  id-token: write # for creating OIDC tokens for signing..
  packages: write # for uploading attestations.
  contents: read
          
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Print URL
        run: echo  The path is ${{ inputs.sourceurl }}  and target url is ${{ inputs.targeturl }}
        
      # Use the specific setup-cli branch
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli-target
        env:
          JF_URL: https://${{ inputs.sourceurl }}/
          SETUP_JFROG_CLI_SERVER_IDS: target-server
        with:
            oidc-provider-name: nareshgithub
            oidc-audience: ps-jfrog-oidc

      

      - name: show JF configurations
        run: jf c show

      

      - name: TestSource
        run: jf rt ping --server-id=target-server

       

      # Use the specific setup-cli branch
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli-source
        env:
          JF_URL: https://${{ inputs.targeturl }}/
          SETUP_JFROG_CLI_SERVER_IDS: source-server
        with:
            oidc-provider-name: naresh-dr
            oidc-audience: ps-jfrog-oidc

      - name: show JF configurations
        run: jf c show

      - name: TestDR
        run: jf rt ping --server-id=target-server

      - name: Promote release bundle
        run: jf rbp ${{ inputs.release_bundle }} ${{ inputs.bundle_version }} ${{ inputs.environment }}







