
name: artifact_deployed

on:
  # workflow_dispatch is mandatory, so that Artifactory can trigger
  # the workflow through GitHub REST API.
  workflow_dispatch: 
    # inputs are optional, they may be used to convey contextual data
    # from the JFrog event to the workflow.
    inputs:
      name: 
        required: true 
        type: string
      release_bundle: 
        required: true 
        type: string
      bundle_version:
        required: true 
        type: string
      environment:
        required: true 
        type: string
      
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Print name
        run: echo  The path is ${{ inputs.name }}

      - name: Print release_bundle
        run: echo  The path is ${{ inputs.release_bundle }}

      - name: Print all
        run: echo "The path is ${{ inputs.bundle_version }}"
