
name: artifact_deployed

on:
  # workflow_dispatch is mandatory, so that Artifactory can trigger
  # the workflow through GitHub REST API.
  workflow_dispatch: 
    # inputs are optional, they may be used to convey contextual data
    # from the JFrog event to the workflow.
    inputs:
      name: 
        required: true 
        type: string
      release_bundle: 
        required: true 
        type: string
      bundle_version:
        required: true 
        type: string
      environment:
        required: true 
        type: string
      url:
        required: true 
        type: string
      
      
jobs:
  build:
    env:
       ACCESS_TOKEN: ${{ secrets.JFROG_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: test
        run: |
          MY_WORK_DIR=${{ github.workspace }}

      - name: Print name
        run: echo  The path is ${{ inputs.name }}

      - name: Print release_bundle
        run: echo  The path is ${{ inputs.release_bundle }}

      - name: Print all
        run: echo "The path is ${{ inputs.bundle_version }}"

      - name: Set up Environment Variables
        run: |
          echo "JFROG_URL=${{ inputs.url }}" >> $GITHUB_ENV
          echo "RELEASEBUNDLE_NAME=${{ inputs.release_bundle }}" >> $GITHUB_ENV
          echo "RELEASEBUNDLE_VERSION=${{ inputs.bundle_version }}" >> $GITHUB_ENV
          echo "ENVIRONMENT=${{ inputs.environment }}" >> $GITHUB_ENV

      - name: Run Shell Script
        run: |
          chmod +x $GITHUB_WORKSPACE/rbpromotion.sh
          $GITHUB_WORKSPACE/rbpromotion.sh "$JFROG_URL" "$ACCESS_TOKEN" "$RELEASEBUNDLE_NAME" "$RELEASEBUNDLE_VERSION" "$ENVIRONMENT"

