name: artifact_deployed

on:
  # workflow_dispatch is mandatory, so that Artifactory can trigger
  # the workflow through GitHub REST API.
  workflow_dispatch: 
    # inputs are optional, they may be used to convey contextual data
    # from the JFrog event to the workflow.
    inputs:
      url: 
        required: true 
        type: string
      token: 
        required: true 
        type: string


jobs:
  build:
    env:
       ACCESS_TOKEN: ${{ secrets.JFROG_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: test
        run: |
          MY_WORK_DIR=${{ github.workspace }}
          
      - name: Print url
        run: echo  The path is ${{ inputs.url }}

      - name: Print token
        run: echo  The path is ${{ inputs.token }} and Target repo ${{ inputs.target_repo }}

      - name: Set up Environment Variables
        run: |
          echo "JFROG_URL=${{ inputs.url }}" >> $GITHUB_ENV

      - name: Message
        run: |
          echo "Hello world"

